---
---
//CSS goes here

.full-height {
	height: 100%;
}

//
// Flexbox
//
.flex-center {
	justify-content: center;
}

//
// Typography
//

.text-capitalize {
	text-transform: capitalize;
}
// The reason for setting default lists to show bullets
// is that content authors are not able to add classes to uls that they create
ul {
	li {
		list-style: disc inside;
	}	
}
.ul_li_none li {
	list-style: none;
}

//
// Footer
//
footer.page-footer {
	margin-top: 0px;
}

// Sticky Footer Code; may cause problems in IE
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

//
// Homepage Layout Styles
//
#homeHeroSection {
	min-height: 75vh;
	justify-content: center;
	background: no-repeat center/cover url({{ site.baseurl }}/images/unsplash-wireframing.jpg);
	h1 {
		font-weight: 700;
	}
}
@media screen and (max-width: 600px) {
	#homeHeroSection {
		h1 {
			font-size: 2em;
		}
	}
}

#homeBlurb,
#homeContact {
	padding: 20px 0;
}

#homePromotionalSection {
	margin: 5rem auto;
}

.promo-row {
	margin-bottom: 50px;
	p {
		margin-top: 0px;
	}
}

//
// Chapter Page Layout Styles
//
.chapter-banner {
	min-height: 30vh;
	justify-content: center;
	h1 {
		font-weight: 200;
	}
}