---
---

//CSS goes here
.my-green-text {
	color: green;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.chapter-banner {
	min-height: 30vh;
}