---
---
//CSS goes here

//
// Typography
//

// The reason for setting default lists to show bullets
// is that content authors are not able to add classes to uls that they create
ul li {
	list-style: disc inside;
}
.li_none li {
	list-style: none;
}

//
// Sticky Footer Code; may cause problems in IE
//
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

//
// Chapter Page Layout Styles
//
.chapter-banner {
	min-height: 30vh;
	justify-content: center;
	h1 {
		font-weight: 200;
	}
}