<footer class="page-footer">
  <div class="container">
    <div class="row">        
      <div class="col l6 s12">
        <img class="responsive-img" src="images/ifundIT-logo-c2.png" alt="IBM ifundIT - You invest. You decide."></img>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://demo.bluefundit.com/">ifundACME Demo Site</a></li>
          <li><a class="grey-text text-lighten-3" href="http://agileacademy.w3ibm.mybluemix.net/">Agile Academy</a></li>
          <li><a class="grey-text text-lighten-3" href="https://ibm.biz/Bdr4kM">IBM ifundIT Connections Community</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>