<section id="homePromotionalSection" class="container">
	<div class="row promo-row">
		<div class="col s12 m4 valign-wrapper flex-center">
			<!--<img class="responsive-img valign editable" src="https://www.placecage.com/g/200/200" />-->
			<i class="large material-icons">business</i>
		</div>
		<div class="col s12 m8">
			<p class="flow-text editable">Crowdfunding is a simple enough idea, but the world of enterprise is anything but. Learn about what makes it all possible.</p>
			<a href="{{ site.baseurl }}/what.html" class="waves-effect waves-light btn">What</a>
		</div>
	</div>
	<div class="row promo-row">
		<div class="col s12 m4 valign-wrapper flex-center">
			<i class="large material-icons">work</i>
		</div>
		<div class="col s12 m8">
			<p class="flow-text editable">Whether you want to jump-start the next big thing or get everybody excited, ifundIT can help you get there. Learn why enterprise crowdfunding is changing the way we work.</p>
			<a href="{{ site.baseurl }}/why.html" class="waves-effect waves-light btn">Why</a>
		</div>
	</div>
	<div class="row promo-row">
		<div class="col s12 m4 valign-wrapper flex-center">
			<i class="large material-icons">new_releases</i>
		</div>
		<div class="col s12 m8">
			<p class="flow-text editable">Ready to tap into the wisdom of the crowd? Learn how to start an ifundIT campaign in your own organization.</p>
			<a href="{{ site.baseurl }}/how.html" class="waves-effect waves-light btn">How</a>
		</div>
	</div>
</section>