<section class="container">
	<div class="row">
		<div class="col s12">
			<p class="flow-text editable">Donec convallis et ipsum sit amet lacinia. Cras at tincidunt massa, sit amet dignissim velit. Suspendisse sit amet lacus vitae mi finibus imperdiet. Nulla pellentesque sapien et mollis pharetra. Aenean quam massa, scelerisque a neque a, vehicula aliquet quam. Fusce justo lorem, rhoncus eu orci id, mattis dignissim tortor. Proin finibus felis efficitur aliquet posuere.</p>
		</div>
		<div class="col s12 valign-wrapper flex-center">
			<a class="waves-effect waves-light btn-large valign">button</a>
		</div>
	</div>
</section>