<section class="container">
	<div class="row">
		<div class="col s12">
			<p class="flow-text editable">IBM ifundIT is a revolutionary enterprise crowdfunding platform that lets employees use real company money to fund innovation. This site is your one-stop guide to everything ifundIT -- from learning how crowdfunding can work for you to taking the first steps towards running your campaign.</p>
		</div>
		<div class="col s12 valign-wrapper flex-center">
			<a class="waves-effect waves-light btn-large valign">button</a>
		</div>
	</div>
</section>