<div class="col hide-on-small-only m3 l2">
  <ul id="sidebar-TOC" class="section table-of-contents ul_li_none">
    <li><a href="#focusOutcomes">Defining your Focus and Outcomes</a></li>
    <li><a href="#team">Building your Team</a></li>
    <li><a href="#budget">Allocating your Budget</a></li>
    <li><a href="#choosingCampaign">Choosing a Campaign Mode</a></li>
    <li><a href="#timeline">Planning a Timeline</a></li>
    <li><a href="#requirements">Setting Requirements</a></li>
    <li><a href="#spreadingWord">Spreading the Word</a></li>
    <li><a href="#wrappingUp">Wrapping Up</a></li>
  </ul>
</div>