<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="">

    {% include header.html %}

    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}

    <!-- Compiled and minified jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </body>

</html>